* {
    box-sizing: border-box;
  }

li{
    list-style-type:none;
    display: inline-block;
    margin-right: 50px;
  } 

  ul{
    text-align: center;
    
  }

  a{
    text-decoration: none;
    color: #5F464B;
  }
  
.arrow{
    border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

figcaption{
    color:#fff;
    margin-bottom: 3px;
}

.header h1{
    text-align: center;
    text-transform:uppercase;
    padding: 32px;
    font-size: 30px;
    background: #051014;
    color: #F4F0BB;
    border-bottom: 4px solid #F4F0BB;
  }

  body{
    margin:0;
}

img{
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
    padding: 5px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    box-sizing: border-box;
}

.gallery{
    column-count: 4;
    column-gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
    background: #487e54;
    padding: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,.25);
}

.Slider{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.Slider img{
    margin-bottom: 5px;
    scroll-snap-align: start;
    object-fit: cover;
}

.Slider-nav{
    display: flex;
    position: absolute;
    left:50%;
    transform: translateX(-50%);

}
.Slider2{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.Slider2 img{
    margin-bottom: 5px;
    scroll-snap-align: start;
    object-fit: cover;
}

.Slider-nav2{
    display: flex;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
  
}

@media screen and (max-width:1024px){
    .gallery{
        column-count: 3;
    }
}

@media screen and (max-width:640px){
    .gallery{
        column-count: 2;
    }
}

@media screen and (max-width:375px){
    .gallery{
        column-count: 1;
    }
}