* {
    box-sizing: border-box;
  }

li{
    list-style-type:none;
    display: inline-block;
    margin-right: 50px;
  } 

  ul{
    text-align: center;
    
  }

  a{
    text-decoration: none;
    color: #5F464B;
  }
  
.gallery img {
    width:100%;
    max-width:350px;
    height: 350px;
    border-radius: 10px;
    border: 3px solid #051014;
    padding: 1px;
}


.header h1{
    text-align: center;
    text-transform:uppercase;
    padding: 32px;
    font-size: 30px;
    background: #051014;
    color: #F4F0BB;
    border-bottom: 4px solid #F4F0BB;
  }

body{
    margin:0;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    padding: 20px 10px;
    margin: 0 auto;
    gap:5px;
}

.gallery::after{
    content:"";
    width:710px;
  }
